{% extends '::base.html.twig' %}

{% block body %}
    <h1>
        {{ 'email_confirmation.title'|trans|raw }}
    </h1>

    <p>
        {{ 'email_confirmation.content'|trans|raw }}
    </p>

    <a href="{{ path('login') }}">
        {{ 'email_confirmation.link.login'|trans }}
    </a>
{% endblock %}