{% extends "@Tom32iSimpleSecurity/Email/base.html.twig" %}

{% block body %}
<table cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #F5F5F5;">
    <tr>
        <td width="600" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="600" valign="top" align="center">
                        {{ 'email.title'|trans }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="600" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="560" valign="top">
                        &nbsp;<br/>
                    </td>
                </tr>
                <tr>
                    <td width="560" valign="top">
                        {{ 'email.hello'|trans({'%name%': name})|raw }}
                    </td>
                </tr>
                <tr>
                    <td width="560" valign="top">
                        {% block content '' %}
                    </td>
                </tr>
                <tr>
                    <td width="560" valign="top">
                        &nbsp;<br/>
                    </td>
                </tr>
                <tr>
                    <td width="560" valign="top">
                        {{ 'email.sign'|trans|raw }}
                    </td>
                </tr>
                <tr>
                    <td width="560" valign="top">
                        &nbsp;<br/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}